body{
    background-color: #d2dade;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px;
    padding: 1rem;
    background-color: #013782;
}

.logo{
    max-width: 8rem;
    border-radius: 100%;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 1rem;
}

nav a{
    font-weight: bold;
    color: #d2dade;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Type tester', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

section{
    background: #FFF;
    border: solid 2px black;
    border-radius: 5px;
    margin: 0 0.5rem;
}

.title{
    margin-top: 1rem;
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    font-family: 'Type tester', sans-serif;
}

.presentacion{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 1.5rem;
    background-color: #d2dade;
    padding: 2rem;
}

.img-card{
    height: 15rem; 
    width: 15rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013782;
    padding: 1rem;
}

.logo-footer{
    max-width: 8rem;
    border-radius: 100%;
}

.lista-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}

.lista-contacto li{
    margin: 0.5rem;
}

.link-redes{
    margin: 0px 10px 0px 10px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
}